<%#
  入力フォーム
  pathを/set_data、methodをpost設定
%>
<form action="/set_data" method="post">
  <span>パケットデータデータ(16進数)</span>
  <div class="input-wrap">
    <input type="text" name="data">
    <input type="submit" value="分析">
  </div>
</form>

<%# 入力データを持つインスタンス変数を表示 %>
<p>パケットデータデータ(16進数)：<%= @input %></p>

<%# ipv4の時のtableを表示 %>
<% if @v_flag == 4 %>
  <table class="tg">
    <thead>
      <tr>
        <th class="tg-c3ow" colspan="4">32bit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-c3ow">バージョン(4)</td>
        <td class="tg-c3ow">ヘッダ長(4)</td>
        <td class="tg-c3ow">サービスタイプ(8)</td>
        <td class="tg-c3ow">パケット長(16)</td>
      </tr>
      <tr>
        <%# ipv4用のインスタン変数からハッシュ形式でデータを取得する %>
        <td class="tg-c3ow"><%= @res_v4[:version] %></td>
        <td class="tg-c3ow"><%= @res_v4[:length] %></td>
        <td class="tg-c3ow"><%= @res_v4[:service_type] %></td>
        <td class="tg-c3ow"><%= @res_v4[:packet_length] %></td>
      </tr>
      <tr>
        <td class="tg-c3ow" colspan="3">識別子(16)</td>
        <td class="tg-c3ow">フラグ(16)</td>
      </tr>
      <tr>
        <%# ipv4用のインスタン変数からハッシュ形式でデータを取得する %>
        <td class="tg-baqh" colspan="3"><%= @res_v4[:identificatipn] %></td>
        <td class="tg-baqh"><%= @res_v4[:flagment] %></td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="2">TTL(8)</td>
        <td class="tg-baqh">プロトコル番号(8)</td>
        <td class="tg-baqh">ヘッダチェックサム(16)</td>
      </tr>
      <tr>
        <%# ipv4用のインスタン変数からハッシュ形式でデータを取得する %>
        <td class="tg-baqh" colspan="2"><%= @res_v4[:ttl] %></td>
        <td class="tg-baqh"><%= @res_v4[:transport] %></td>
        <td class="tg-baqh"><%= @res_v4[:header_checksum] %></td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="4">送信元IPアドレス(32)</td>
      </tr>
      <tr>
        <%# ipv4用のインスタン変数からハッシュ形式でデータを取得する %>
        <td class="tg-baqh" colspan="4"><%= @res_v4[:source_ip_address] %></td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="4">宛先IPアドレス(32)</td>
      </tr>
      <tr>
        <%# ipv4用のインスタン変数からハッシュ形式でデータを取得する %>
        <td class="tg-baqh" colspan="4"><%= @res_v4[:destination_ip_address] %></td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="4">オプション(32×n)</td>
      </tr>
      <tr>
        <%# ipv4用のインスタン変数からハッシュ形式でデータを取得する %>
        <td class="tg-baqh" colspan="4"><%= @res_v4[:options] %></td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="4">データ本体</td>
      </tr>
      <tr>
        <%# ipv4用のインスタン変数からハッシュ形式でデータを取得する %>
        <td class="tg-baqh" colspan="4"><%= @res_v4[:data] %></td>
      </tr>
    </tbody>
  </table>
<%# ipv6の時のtableを表示 %>
<% elsif @v_flag == 6 %>
  <table class="tg">
    <thead>
      <tr>
        <th class="tg-c3ow" colspan="8">32bit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="tg-c3ow">バージョン(4)</th>
        <th class="tg-c3ow" colspan="2">トラフィック(8)</th>
        <th class="tg-c3ow" colspan="5">フローラベル(20)</th>
      </tr>
      <tr>
        <%# ipv6用のインスタン変数からハッシュ形式でデータを取得する %>
        <td class="tg-baqh"><%= @res_v6[:version] %></td>
        <td class="tg-baqh" colspan="2"><%= @res_v6[:trafic] %></td>
        <td class="tg-baqh" colspan="5"><%= @res_v6[:flow_label] %></td>
      </tr>
      <tr>
        <td class="tg-c3ow" colspan="4">ペイロード長(16)</td>
        <td class="tg-c3ow" colspan="2">次ヘッダ(8)</td>
        <td class="tg-c3ow" colspan="2">ホップ制限(8)</td>
      </tr>
      <tr>
        <%# ipv6用のインスタン変数からハッシュ形式でデータを取得する %>
        <td class="tg-baqh" colspan="4"><%= @res_v6[:payload_length] %></td>
        <td class="tg-baqh" colspan="2"><%= @res_v6[:next_header] %></td>
        <td class="tg-baqh" colspan="2"><%= @res_v6[:hop_limit] %></td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="8">送信元アドレス(128)</td>
      </tr>
      <tr>
        <%# ipv6用のインスタン変数からハッシュ形式でデータを取得する %>
        <td class="tg-baqh" colspan="8"><%= @res_v6[:source_address] %></td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="8">宛先アドレス(128)</td>
      </tr>
      <tr>
        <%# ipv6用のインスタン変数からハッシュ形式でデータを取得する %>
        <td class="tg-baqh" colspan="8"><%= @res_v6[:destination_address] %></td>
      </tr>
      <tr>
        <td class="tg-baqh" colspan="8">データ</td>
      </tr>
      <tr>
        <%# ipv6用のインスタン変数からハッシュ形式でデータを取得する %>
        <td class="tg-baqh" colspan="8"><%= @res_v6[:data] %></td>
      </tr>
    </tbody>
  </table>
<%# その他の時、tableを表示しない %>
<% else %>
  <p>ipv4 or ipv6ではありません。</p>
<% end %>